{% extends "base.html.twig" %}

{% block title %}Balance de ventas{% endblock %}

{% block container %}
	{% if mensaje %}
		{% for m in mensaje %}
			<div id="message">
				{{ m }}
			</div>
		{% endfor %}
	{% endif %}
    {% include 'aside.html.twig' %}
    <section id="ancho_parcial">
		<article>
                <form method="POST" action="./?action=listarVentas">
                    <fieldset>
                    <legend>Buscar ventas por fechas</legend>
                        <label>Fecha inicio:</label>
                        <input class="filtradoFechaInput" value="{{ fechaInicio[0] }}" type="date" name="fechaInicio" id="fechaInicio" required>
                        <label>Fecha fin:</label>
                        <input class="filtradoFechaInput" value="{{ fechaFin[0] | date("Y-m-d") }}" type="date" name="fechaFin" required>
                        <input class="filtradoFechaButton" type="submit" id="filtrarFechas" value="Buscar">
                    </fieldset>
                </form>
				{% if fechaInicio %}
                    <div id="chartUno" style="min-width: 400px;"></div>
                    <div id="listadoVentas">
					{% if fechaInicio != null %}
						<h3>Listado de Ventas entre {{fechaInicio | date("d-m-Y") }} y {{fechaFin | date("d-m-Y")}}</h3>
					{% else %}
						<h3>Listado de Ventas</h3>
					{% endif %}
					<table>
						<thead>
						<tr>
							<th>Producto</th>
							<th>Cantidad</th>
						</tr>
						</thead>

						<tbody>
						{% if ventas != null %}
							{% for venta in ventas %}
								<tr>
									<td> {{ venta[1] }} </td>
									<td> {{ venta[0] }} </td>
								</tr>
							{% endfor %}
						{% endif %}
						</tbody>
					</table>
				{% else %}
					<h3>Ingrese dos fechas</h3>
				{% endif %}
			</div>
		</article>
	</section>

    <script type="text/javascript">

        var data = {{dataprod|raw}}
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chartUno',
                type: 'pie'
            },
            title: {
              text: 'Productos Vendidos entre {{fechaInicio}} y {{fechaFin}}'
            },
            series: [{
              name: 'Cantidad Vendida',
              data: data
            }]
        });
    </script>
{% endblock %}