{% extends "base.html.twig" %}

{% block title %}Listar egresos{% endblock %}

{% block container %}
    {% if mensaje %}
        {% for m in mensaje %}
            <div id="message">
                {{ m }}
            </div>
        {% endfor %}
    {% endif %}
    {% include 'aside.html.twig' %}
    <section id="ancho_parcial">
        <article>
            {% if egresos %}
                <h3>Listado de egresos</h3>
                <table>
                    <thead>
                    <tr>
                        <th>producto</th>
                        <th>cantidad</th>
                        <th>precio unidad</th>
                        <th>fecha alta</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
    
                    <tbody>
                    {% for egreso in egresos %}
                        <tr>
                            <td> {{ egreso.nombreProducto[0][0] }} </td>
                            <td> {{ egreso.cantidad }} </td>
                            <td> ${{ egreso.precio_unitario }}</td>
                            <td> {{ egreso.fecha }}</td>
                            <td class="acciones">
                                <a href="javascript:eliminar({{ egreso.id }}, 'eliminar_egreso')"><button class="buttonEliminar">Eliminar</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% set url = 'listar_egresos' %}
                {% include 'paginado.html.twig' %}
            {% else %}
                <h3>No existen compras registradas.</h3>
            {% endif %}
        </article>
    </section>
{% endblock %}