{% extends "base.html.twig" %}

{% block title %}Listar usuarios{% endblock %}

{% block container %}
    {% include 'aside.html.twig' %}
    <section id="ancho_parcial">
		<article>
		    {% if usuarios %}
    			<h3>Listado de usuarios</h3>
    			<table>
    				<thead>
    					<tr>
    						<th>Usuario</th>
    						<th>Apellido</th>
    						<th>Nombre</th>
    						<th>eMail</th>
    						<th>Habilitado</th>
    						<th>Acciones</th>
    					</tr>
    				</thead>
    
    				<tbody>
    				{% for user in usuarios %}
    					<tr>
    						<td>{{ user.usuario }}</td>
    						<td>{{ user.apellido }}</td>
    						<td>{{ user.nombre }}</td>
    						<td>{{ user.email }}</td>
    						<td>{% if user.habilitado == 1 %} Si {% else %} No {% endif %}</td>
    						<td class="acciones">
    							<a href="./?action=datos_usuario&id={{ user.id }}"><button class="buttonVerDetalle">Detalles</button></a>
    							<a href="./?action=modificar_usuario&id={{ user.id }}"><button class="buttonModificar">Modificar</button></a>
    							<a href="javascript:eliminar({{ user.id }}, 'eliminar_usuario')"><button class="buttonEliminar">Eliminar</button></a>
    						</td>
    					</tr>
    				{% endfor %}
    				<tr>
    					<td></td>
    					<td></td>
    					<td></td>
    					<td></td>
    					<td></td>
    					<td><a href="./?action=alta_usuario"><input type="submit" value="Alta usuario"></a></td>
    				</tr>
    				</tbody>
    			</table>
    			{% set url = 'listar_usuarios' %}
    			{% include 'paginado.html.twig' %}
    		{% else %}
    		    <h3>No existen usuarios registrados.</h3>
    		{% endif %}
		</article>
	</section>
{% endblock %}